<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8ECDDD">
                <div class="container">
                    <a class="navbar-brand py-3 navbar-dark" th:href="@{/}"><Strong>Support Ticket Manager</Strong></a>
                    <a class="btn btn-primary" th:href="@{/menus/crearTiquete}" style="background-color: #22668D; color: white;">Crear ticket</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/menus/tickets}">Mis tiquetes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/menus/perfil}">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Notificaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Configuraciones</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <footer th:fragment="footer" class="container-fluid fixed-bottom" style="background-color: white">
                <div class="row">
                    <div class="col-md">
                        Todos los derechos reservados  &COPY;
                    </div>
                </div>
            </footer>
        </header>
    </body>
</html>