<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns = "http://www.w3.org/1999/xhtm"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head"></head>
    <body>

        <section th:fragment="perfilUsuario">
            <style>
                .ticket {
                    background-color: #8ecddd;
                    padding: 10px;
                    margin: 10px 0;
                }
            </style>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="user.jpg" class="card-img-top" alt="Foto de perfil">
                            <div class="card-body">
                                <h5 class="card-title">Nombre de Usuario:</h5>
                                <p class="card-text">Correo Electrónico: </p>
                                <p class="card-text">Nombre de Usuario: </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Tiquetes Activos</h3>
                        <div class="row rounded p-3">
                            <div class="col-md-4">
                                <div class="ticket rounded p-3">
                                    <p>Número de Tiquete:</p>
                                    <p>Fecha de Creación: </p>
                                    <p>Estado: </p>
                                </div>
                            </div>
                            <h3>Notificaciones</h3>
                            <div class="alert alert-info" role="alert">
                                Aqui va la notificacion
                            </div>
                        </div>
                    </div>
                    </section>
                    <section th:fragment="ticketsActivos">
                        <style>
                            .ticket {
                                background-color: #8ecddd;
                                padding: 20px;
                                margin: 10px 0;
                            }
                        </style>
                        <h3 class="col-md-12 container mt-4">Tiquetes Activos</h3>
                        <div th:if="${tickets != null and !tickets.empty}">
                            <table class="table table-hover container mt-5">
                                <thead class="table-dark">
                                    <tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>Resumen</th>
                                        <th>Descripción</th>
                                        <th>Prioridad</th>
                                        <th>Estado</th>
                                        <th>Ruta de la Imagen</th>
                                        <th></th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="tickets, contador : ${tickets}">
                                        <td>${ticket.idTicket}</td>
                                        <td>${ticket.resumen}</td>
                                        <td>${ticket.descripcion}</td>
                                        <td>${ticket.prioridad}</td>
                                        <td>${ticket.estado}</td>
                                        <td>${ticket.rutaImagen}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section th:fragment= "creatTicket">
                        <div id="agregarCategoria" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            
                        </div>
                    </section>
                    </body>
                    </html>
