<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtm"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head"></head>
    <body>


        <!-------PANTALLA PERFIL DE USUARIO---------------------------------------------------------------------------------------------------------->
        <section th:fragment="perfilUsuario">
            <style>
                .ticket {
                    background-color: #8ecddd;
                    padding: 10px;
                    margin: 10px 0;
                }
            </style>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="user.jpg" class="card-img-top" alt="Foto de perfil">
                            <div class="card-body">
                                <h5 class="card-title">Nombre de Usuario:</h5>
                                <p class="card-text">Correo Electrónico: </p>
                                <p class="card-text">Nombre de Usuario: </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Tiquetes Activos</h3>
                        <div class="row rounded p-3">
                            <div class="col-md-4">
                                <div class="ticket rounded p-3">
                                    <p>Número de Tiquete:</p>
                                    <p>Fecha de Creación: </p>
                                    <p>Estado: </p>
                                </div>
                            </div>
                            <h3>Notificaciones</h3>
                            <div class="alert alert-info" role="alert">
                                Aqui va la notificacion
                                <p>Técnico:</p>
                                <p>Estado del tiquete:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-------PANTALLA PERFIL DE CREAR UN TICKET-------------------------------------------------------------------------------------------------->
        <section th:fragment="crearTicket">
            <div class="container">
                <h3 class="col-md-12 container mt-4">Descripción del Problema</h3>
                <br>
                <form enctype="multipart/form-data" th:action="@{/menus/guardarTicket}" th:object="${ticket}" method="POST">
                    <div class="form-group">
                        <label for="resumen">Resumen:</label>
                        <input type="text" class="form-control" id="resumen" name="resumen" required="true"/>
                        <br>
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required></textarea>
                        <br>
                        <label for="prioridad">Prioridad</label>
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" name="prioridad">
                                <option value="3">(P3) Baja</option>
                                <option value="2">(P2) Media</option>
                                <option value="1">(P1) Alta</option>
                            </select>
                            <label for="floatingSelect">Seleccione su prioridad</label>
                        </div>
                        <br>
                        <label for="prioridad">Tipo de problema que presenta:</label>
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" name="prioridad">
                                <option value="3"></option>
                                <option value="2">Software</option>
                                <option value="1">Hardware</option>
                            </select>
                            <label for="floatingSelect">Seleccione su prioridad</label>
                        </div>
                        <br>
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" name="nombre" required="true"/>
                        <br>
                        <label for="correo">Correo electrónico:</label>
                        <input type="email" class="form-control" id="correo" name="correo" placeholder="nombre@ejemplo.com" required="true">
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="archivo">Adjuntar Documentos:</label>
                        <br>
                        <input type="file" class="form-control-file" id="archivo" name="archivo" multiple accept=".pdf, .doc, .docx, .jpg, .png, .jpeg">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success" id="btnCrearTiquete">Crear</button>
                    <br>
                    <br>
                </form>     
            </div>
            <div class="modal" id="numeroTiqueteModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Número de Tiquete:</h2>
                        </div>
                        <div class="modal-body">
                            <!-- Campo donde se mostrara el numero de ticket -->
                            <input type="text" class="form-control" value="Número Autoincremental" readonly>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="btnCerrarModal" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('#btnCrearTiquete').on('click', function () {
                        $('#numeroTiqueteModal').modal('show');
                    });

                    // Funcion al dar click al boton cerrar
                    $('#btnCerrarModal').on('click', function () {
                        // Redirige a la parte de lista de tiquetes
                        window.location.href = '/menus/tickets';
                    });
                });
            </script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#btnCrearTiquete').on('click', function () {
                        $('#numeroTiqueteModal').modal('show');
                    });
                });
            </script>
        </section>


        <!-------PANTALLA DE NOTIFICACIONES---------------------------------------------------------------------------------------------------------->
        <section th:fragment="notificaciones">
            <style>
                .ticket {
                    background-color: #8ecddd;
                    padding: 20px;
                    margin: 10px 0;
                }
            </style>
            <div class="col-md-12 container mt-2">
                <h3>Notificaciones</h3>
                <div class="row rounded p-3 col-md-12">
                    <div>
                        <div class="ticket rounded p-3">
                            <p>Número de tiquete: </p>
                            <p>Estado del tiquete: </p>
                            <p>Técnico: </p>
                        </div>
                        <div class="text-center">
                            <button id="btnDesactivarNotificaciones">Desactivar Notificaciones</button>
                        </div>
                    </div>
                </div>
        </section>


        <!-------PANTALLA DE INICIO DE SESION-------------------------------------------------------------------------------------------------------->
        <section th:fragment="inicioSesion">
            <div class="container mt-5" >
                <div class="row justify-content-center align-items-center p-5">
                    <div class="col-md-4">
                        <div class="card" style="background-color: #22668D">
                            <div class="card-body text-center">
                                <h3 class="card-title" style="color: white">Support Ticket Manager</h3>
                                <br>
                                <h5 class="card-title" style="color: white">Inicia Sesión</h5>
                                <br>
                                <p class="card-text" style="color: white">Correo Electrónico: </p>
                                <input type="text" class="form-control" placeholder="Ingresa tu correo electrónico"/>
                                <br>
                                <p class="card-text" style="color: white">Contraseña: </p>
                                <input type="text" class="form-control" placeholder="Ingresa tu contraseña"/>
                                <br>
                                <a id="btnIniciarSesion" class="btn btn-light" th:href="@{/menus/menuPrincipal}" style="margin-top: 10px;color: white"><span style="color: #22668D">Iniciar Sesión</span></a>
                                <br>
                                <br>
                                <p style="color: white">¿No tienes una cuenta? <a href="/menus/registro" style="color: white">Registrarse</a></p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-------PANTALLA PERFIL DE REGISTRO--------------------------------------------------------------------------------------------------------->
        <section th:fragment="registro">
            <div class="container mt-5">
                <div class="row justify-content-center align-items-center p-5">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body text-center" style="background-color: #22668D">
                                <h5 class="card-title" style="color: white">Crea una cuenta</h5>
                                <br>
                                <p class="card-text" style="color: white">Correo Electrónico: </p>
                                <input type="text" class="form-control" placeholder="Ingresa tu correo electrónico"/>
                                <br>
                                <p class="card-text" style="color: white">Contraseña: </p>
                                <input type="text" class="form-control" placeholder="Ingresa tu contraseña"/>
                                <br>
                                <p class="card-text" style="color: white">Confirma la contraseña: </p>
                                <input type="text" class="form-control" placeholder="Ingresa tu contraseña nuevamente"/>
                                <br>
                                <a id="btnRegistro" class="btn btn-light" th:href="@{/menus/menuPrincipal}" style="margin-top: 10px;color: white"><span style="color: #22668D">Crear cuenta</span></a>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>

